@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf);
}

body {
    font-family: Roboto;
    background-color: rgba(247, 244, 244, 0.966);
}

#page-wrapper {
    margin-left: 150px;
    margin-right: 150px;
}


/* Überschrift */

h1 {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-weight: bold;
}

.uebschrift {
    color: #BD1550;
    /* color: #E02F88; */
}


/* Fehler Meldung Container */

.error-container {
    border: 1px solid;
    border-radius: 1rem;
    background-color: red;
}

.error-title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 1px;
}

.error-text {
    padding: 1rem;
    font-size: 18px;
    margin-top: 1px;
    ;
}


/* Upload Container */

.custom-upload-file-input {
    border: 1px solid darkgrey;
}

#inputFile {
    font-size: 17px;
    width: 320px;
    ;
}

.upload-fieldset {
    border: 2px solid threedface;
    border-radius: 6px;
    height: 6rem;
    border-style: groove;
}


/* BUTTON Container */

.btn-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-opti {
    font-size: 20px;
    /* margin-left: 10px; */
    width: 8rem;
}

.btn-download {
    font-size: 20px;
    /* margin-left: 10px; */
    width: 8rem;
}

.load-spinner {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8) url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;
}

.loading {
    overflow: hidden;
    display: block;
}


/* MAIN CONTAINER  */

#showCoords-Container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-container {
    display: flex;
    justify-content: center;
}


/* Map Container */

#map-container {
    width: 52%;
    height: 600px;
    /* height: 100px; */
    /* width: 100px;; */
}

#map {
    background-color: #dddddd;
    height: 500px;
    width: 100%;
}


/* Tabelle/Liste der Koordinaten */

#table-container {
    width: 500px;
    margin-left: 20px;
    margin-right: 20px;
}

.coords-liste {
    display: block;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
    border-radius: 6px;
}

.legend-title {
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    float: none;
    width: auto;
    margin-left: 15px;
}

.koordinaten {
    margin: 14px;
    background-color: rgba(247, 244, 244, 0.966);
    font-size: 13px;
    padding: 10px;
}

.list-overflow {
    height: 363px;
    overflow-y: auto;
}


/* Routing Infomationen */

.routing-info-container {
    margin-left: 20px;
    margin-right: 20px;
}

.routing-info-fieldset {
    width: 250px;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
    border-radius: 6px;
}

#before-optimize {
    margin: 19px;
}

#after-optimize {
    margin: 19px;
}


/* ENDE MAIN CONTAINER  */


/* FOOTER */

footer {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    color: #777777;
    text-align: center;
    font-size: small;
    clear: left;
}